nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space=space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: darkblue;
}

main img {
    width:  150px;
    height: auto;
    border: 1px solid steelblue;
    padding:  2px;
    box-sizing: 0 0 30px gray;
}

p { 
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

header, footer {
    max-width: 840; 
    margin: 0 auto;

}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside { 
    width: 20rem;
    position:  relative;
    grid-column: 1/2;
    grid-row: 1/2;
}